# Prerequisites
*.d
*.dblite
*.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project
/cri/*
/bin/
/x64/
/Win32/
/build/
/libadxle/

.vs/
.import/
.godot